/* ROBOT.GIF from Giphy - https://giphy.com/gifs/robot-cinema-4d-eyedesyn-3o7abtn7DuREEpsyWY */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #006dbd;
  font-family: 'Courier New', Courier, monospace;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: url('./robot-gif.gif');
  background-size: contain;
  background-position: left center;
  background-repeat: no-repeat;
}

button {
  cursor: pointer;
  outline: none;
  width: 12.5rem;
  height: 3rem;
  font-size: 1.1rem;
  font-family: inherit;
  background: #e70015;
  color: #fff;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 20px 10px rgba(0, 0, 0, 0.2);
  padding: 0.6rem;
  margin-left: 12rem;
}

button:hover {
  filter: brightness(95%);
}

button:active {
  transform: scale(0.98);
}

button:disabled {
  cursor: default;
  filter: brightness(30%);
}

#textMsg {
  display: none;
  text-transform: uppercase;
  max-width: 32rem;
  margin-left: 10rem;
  color: #000;
  font-size: 1.4rem;
  font-weight: 700;
  background: rgba(255, 255, 255, 0.5);
  padding: 1rem 1.5rem;
  border-radius: 5px;
}

@media screen and (max-width: 1000px) {
  .container {
    background-position: center center;
    background-size: cover;
  }
  button {
    box-shadow: 54px 5px 30px 20px rgba(0, 0, 0, 0.5);
    margin-bottom: 50%;
    margin-left: 2rem;
  }

  #textMsg {
    width: 100%;
    text-align: center;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 1.2rem;
    font-weight: 700;
  }
}
